env/
db.sqlite3
__pycache__/
auth_app/migrations/
auth_app/__pycache__/
auth_app/api/__pycache__/
codeer/__pycache__/
base_app/__pycache__/
base_app/migrations/
base_app/api/__pycache__/
offers_app/__pycache__/
offers_app/migrations/
offers_app/api/__pycache__/
orders_app/__pycache__/
orders_app/migrations/
orders_app/api/__pycache__/
reviews_app/__pycache__/
reviews_app/migrations/
reviews_app/api/__pycache__/